<nav class="{% if page.type == "home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.type != "home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.type != "blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/pseudoblog">PseudoBlog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.type != "projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.works == true %}
            {% if page.type != "works" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/works">Works</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.type != "about" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
